html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* * {
  outline: 1px solid tomato;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #454545;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04em;
}

section {
  max-width: 2000px;
  margin: 0 auto;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #454545;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 2000px;
  padding: 0 40px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 17px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media screen and (min-width: 2000px) {
  header {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0px 20px;
    height: 85px;
  }
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}

.nav-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100px;
  font-weight: 600;
  transition: all 0.2s linear;
  text-align: center;
}

.nav-link:hover,
.nav-link.active {
  border-bottom: 5px solid #008000;
}

.heart-icon {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .heart-icon {
    position: static;
    left: 0;
    transform: translate(0, 0);
  }
}

.language-switcher {
  width: 60px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  color: #696969;
  border-radius: 10px;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .language-switcher {
    margin-right: 70px;
  }
}

.support-btn {
  align-items: center;
  text-align: center;
  padding: 20px;
  font-weight: 600;
  border-radius: 15px;
  color: #ffffff;
  background-color: green;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.fill-form-btn {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

.support-btn:hover {
  background-color: rgb(0, 110, 0);
  box-shadow: 2px 5px 16px 0px #061c35, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .support-btn {
    padding: 10px;
    width: 180px;
  }
}

#banner-section {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  #banner-section {
    padding-top: 85px;
  }
}

.banner {
  height: 800px;
  max-width: 2000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images//banner.jpg);
}

@media screen and (max-width: 600px) {
  .banner {
    background-position: -350px 0;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    background-position: -260px 0;
    height: 270px;
  }
}
@media screen and (max-width: 360px) {
  .banner {
    background-position: -200px 0;
    height: 200px;
  }
}

#info-section h1 {
  text-align: center;
  margin-bottom: 20px;
}
#info-section p {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #info-section h1 {
    font-size: 34px;
  }
}

.info-text {
  display: block;
  max-width: 70%;
  padding-bottom: 20px;
  margin: 0 auto;
  font-size: 36px;
  color: #000;
}

.info-text span:first-child {
  font-weight: 600;
}
.info-text p {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .info-text {
    min-width: 90%;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
  }
}

.info-text h2,
.info-text h3 {
  text-align: center;
  margin-bottom: 15px;
}

.info-text ul {
  max-width: fit-content;
  margin: 0 auto;
}
.info-text li {
  margin-top: 10px;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .video-container {
    margin-bottom: 40px;
  }
}

.video-container iframe {
  width: 50vw;
  height: calc(57vw / 2);
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    width: 100%;
    height: calc(110vw / 2);
  }
}

#t-shirt {
  /* background-color: #c0bd92; */
  background-color: #a6a063;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  #t-shirt {
    padding: 60px 0;
  }
}

.mono-link {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px auto;
  background-color: #683db1;
  max-width: 250px;
}

.mono-link:hover {
  background-color: #5b379a;
}

.mono-icon {
  width: 50px;
  height: auto;
  margin-left: 10px;
  animation: heart-beat 4s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .mono-icon {
    margin: 5px auto;
    width: 80px;
  }
}

.mono-icon:hover {
  animation: shake 1.5s ease-in-out infinite;
}

#giftbox {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  #giftbox {
    padding-top: 85px;
  }
}

.giftbox-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images//giftbox.jpg);
}

.giftbox-info {
  background-color: #fff;
  display: block;
  max-width: 70%;
  margin: 0 auto;
  font-size: 36px;
  color: #000;
  text-align: center;
  padding: 85px 0;
}

.giftbox-info ul {
  max-width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .giftbox-info {
    min-width: 90%;
    padding: 20px 0 60px;
    font-size: 24px;
    text-align: center;
  }
}

.giftbox-info h2 {
  margin-bottom: 15px;
}

.giftbox-info li {
  display: flex;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: start;
}

.giftbox-items {
  margin: 20px 0 15px;
  font-weight: 600;
  text-align: center;
}

.ua-icon {
  display: block;
  content: "";
  min-width: 38px;
  height: 38px;
  margin-right: 5px;
  background-image: url(../images/ua.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#get-one {
  /* background-color: #c0bd92; */
  background-color: #a6a063;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  #get-one {
    padding: 60px 0;
  }
}

#contacts {
  padding: 60px;
  text-align: center;
}

.contacts-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

#contacts li {
  max-width: 200px;
  margin-bottom: 20px;
}

.contact-img {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover;
  background-position: 0 -20px;
  background-repeat: no-repeat;
}
.img1 {
  background-image: url(../images//Lera.jpg);
  background-position: 0 -40px;
}
.img2 {
  background-position: 0 -70px;
  background-image: url(../images//Vlad.jpg);
}
.img3 {
  background-position: 0 -50px;
  background-image: url(../images//Orysia.jpg);
}

.contact-name {
  font-weight: 700;
  margin-top: 10px;
}

.contact-role {
  font-size: 16px;
}

.icons-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 10px auto;
}

.icons-list-two-items {
  width: 95px;
}

.shine-btn {
  overflow: hidden;
  transition: all 0.3s ease;
}
.shine-btn:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  /* animation: shiny-btn 5s ease-in-out infinite; */
}
.shine-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.icon-insta {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 50px;
  background-image: url(../images//instagram.svg);
  box-shadow: 5px 5px 3px 0px rgb(60, 60, 60), inset 0 0 0 0 rgb(60, 60, 60);
  transition: box-shadow 0.3s;
}

.icon-insta:hover {
  box-shadow: 0 0 0 0 rgb(60, 60, 60), inset 5px 5px 3px 0px rgb(60, 60, 60);
  transition: box-shadow 0.4s;
}

.icon-telegram {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-size: contain;
  background-image: url(../images//Telegram.svg);
  box-shadow: 5px 5px 3px 0px rgb(60, 60, 60), inset 0 0 0 0 rgb(60, 60, 60);
  transition: box-shadow 0.3s;
}

.icon-telegram:hover {
  box-shadow: 0 0 0 0 rgb(60, 60, 60), inset 5px 5px 3px 0px rgb(60, 60, 60);
  transition: box-shadow 0.4s;
}
.icon-facebook {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-size: contain;
  background-image: url(../images/Facebook.svg);
  box-shadow: 5px 5px 3px 0px rgb(60, 60, 60), inset 0 0 0 0 rgb(60, 60, 60);
  transition: box-shadow 0.3s;
}

.icon-facebook:hover {
  box-shadow: 0 0 0 0 rgb(60, 60, 60), inset 5px 5px 3px 0px rgb(60, 60, 60);
  transition: box-shadow 0.4s;
}

#partners {
  padding: 60px;
  background-color: #a6a063;
}

@media screen and (max-width: 700px) {
  #partners {
    padding: 40px 0;
  }
}

#partners h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .partners-list {
    width: fit-content;
    max-width: 100%;
  }
}

.partner-card {
  display: flex;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  border-radius: 15px;
  margin: 0 auto 30px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .partner-card {
    width: 375px;
    padding: 10px;
    text-align: center;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 375px) {
  .partner-card {
    border-radius: 0;
  }
}

.partner-card div {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .partners-list div {
    text-align: center;
    margin: 0 auto;
  }
}

.partner-card .icons-list {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .partner-card .icons-list {
    margin: 0 auto;
  }
}

.partner-img {
  content: "";
  display: block;
  min-width: 100px;
  height: 100px;
  border-radius: 50px;
  background-size: cover;
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.partner-name {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 380px) {
  .partner-name {
    max-width: 200px;
  }
}
.partner-desc {
  font-size: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .partner-desc {
    max-width: 200px;
  }
}

.partner1 {
  background-image: url(../images/withme-logo.jpg);
}
.partner2 {
  background-image: url(../images/golka-logo.png);
  outline: 2px solid #3db7c4;
}

.partner3 {
  background-image: url(../images/Oksana-Lomaga2.jpg);
  outline: 1px solid #696969;
}
.partner4 {
  background-image: url(../images/Bogdan-Manchur.jpg);
}

@keyframes shiny-btn {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake-with-delay {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  1.78571% {
    transform: scale(1.05);
  }
  3.57143% {
    transform: scale(1);
  }
  5.35714% {
    transform: scale(1.05);
  }
  7.14286% {
    transform: scale(1);
  }
  8.92857% {
    transform: scale(1);
  }
  10.71429% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.burger-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}

@media screen and (min-width: 1000px) {
  .burger-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .burger-btn {
    top: 17px;
    right: 17px;
  }
}
@media screen and (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.burger-btn:focus {
  outline: none;
}

.burger-btn div {
  margin: 0 auto;
  width: 50px;
  height: 8px;
  background-color: #454545;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  transform-origin: 1px;
}

.burger-btn div:first-child {
  transform: rotate(0);
}

.burger-btn div:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}

.burger-btn div:nth-child(3) {
  transform: rotate(0);
}

.burger-btn.open div:first-child {
  transform: rotate(45deg);
}

.burger-btn.open div:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.burger-btn.open div:nth-child(3) {
  transform: rotate(-45deg);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  z-index: 2;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .menu {
    display: none;
  }
}

.menu.is-hidden {
  transform: translateX(0);
}

.menu-links {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.menu-links .nav-link {
  width: 100%;
  font-size: 34px;
}

.menu button {
  margin: 0 auto;
}
