html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  outline: 1px solid tomato;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #454545;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04em;
}

section {
  max-width: 2000px;
  margin: 0 auto;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #454545;
}

header {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 2000px;
  padding: 15px 40px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 17px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0px 20px;
    height: 85px;
  }
}

.team-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
  margin-right: 50px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .team-link {
    display: none;
  }
}

.heart-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
}

@media screen and (max-width: 768px) {
  .heart-icon {
    position: static;
    left: 0;
    transform: translate(0, 0);
  }
}

.support-btn {
  align-items: center;
  text-align: center;
  padding: 20px;
  font-weight: 600;
  border-radius: 15px;
  color: #ffffff;
  background-color: green;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.fill-form-btn {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

.support-btn:hover {
  background-color: rgb(0, 110, 0);
  box-shadow: 2px 5px 16px 0px #061c35, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .support-btn {
    padding: 10px;
    width: 180px;
  }
}

#banner-section {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  #banner-section {
    padding-top: 85px;
  }
}

.banner {
  height: 800px;
  max-width: 2000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images//banner.jpg);
}

@media screen and (max-width: 600px) {
  .banner {
    background-position: -350px 0;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    background-position: -260px 0;
    height: 270px;
  }
}
@media screen and (max-width: 360px) {
  .banner {
    background-position: -200px 0;
    height: 200px;
  }
}

#info-section h1 {
  text-align: center;
  margin-bottom: 20px;
}
#info-section p {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #info-section h1 {
    font-size: 34px;
  }
}

.info-text {
  display: block;
  max-width: 70%;
  padding: 40px 0;
  margin: 0 auto;
  font-size: 36px;
}

.info-text span {
  font-weight: 600;
}
.info-text p {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .info-text {
    min-width: 90%;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
  }
}

.info-text h2 {
  text-align: center;
}

.info-text ul {
  max-width: fit-content;
  margin: 0 auto;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .video-container {
    margin-bottom: 40px;
  }
}

.video-container iframe {
  width: 50vw;
  height: calc(57vw / 2);
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    width: 100%;
    height: calc(110vw / 2);
  }
}

#support-section {
  background-color: #c0bd92;
  color: black;
}

#support-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

#support-section li {
  margin-top: 10px;
}

.mono-link {
  display: flex;
  align-items: center;
}

.mono-icon {
  margin: 15px auto;
  width: 130px;
  height: auto;
  animation: heart-beat 4s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .mono-icon {
    margin: 5px auto;
    width: 80px;
  }
}

.mono-icon:hover {
  animation: shake 1.5s ease-in-out infinite;
}

.donation-block {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}

#contacts-section {
  padding: 40px;
  text-align: center;
}

.contacts-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

#contacts-section li {
  max-width: 200px;
  margin-bottom: 20px;
}

.contact-img {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover;
  background-position: 0 -20px;
  background-repeat: no-repeat;
}
.img1 {
  background-image: url(../images//Lera.jpg);
}
.img2 {
  background-position: 0 -55px;
  background-image: url(../images//Vlad.jpg);
}
.img3 {
  background-image: url(../images//Orysia.jpg);
}

.contact-name {
  font-weight: 700;
  margin-top: 10px;
}

.contact-role {
  font-size: 16px;
}

.icons-list {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 10px auto;
}

.shine-btn {
  overflow: hidden;
  transition: all 0.3s ease;
}
.shine-btn:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  /* animation: shiny-btn 5s ease-in-out infinite; */
}
.shine-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.icon-insta {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 50px;
  background-image: url(../images//instagram.svg);
  box-shadow: 5px 5px 3px 0px rgb(60, 60, 60), inset 0 0 0 0 rgb(60, 60, 60);
  transition: box-shadow 0.3s;
}

.icon-insta:hover {
  box-shadow: 0 0 0 0 rgb(60, 60, 60), inset 5px 5px 3px 0px rgb(60, 60, 60);
  transition: box-shadow 0.4s;
}

.icon-telegram {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-size: contain;
  background-image: url(../images//Telegram.svg);
  box-shadow: 5px 5px 3px 0px rgb(60, 60, 60), inset 0 0 0 0 rgb(60, 60, 60);
  transition: box-shadow 0.3s;
}

.icon-telegram:hover {
  box-shadow: 0 0 0 0 rgb(60, 60, 60), inset 5px 5px 3px 0px rgb(60, 60, 60);
  transition: box-shadow 0.4s;
}

@keyframes shiny-btn {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake-with-delay {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  1.78571% {
    transform: scale(1.05);
  }
  3.57143% {
    transform: scale(1);
  }
  5.35714% {
    transform: scale(1.05);
  }
  7.14286% {
    transform: scale(1);
  }
  8.92857% {
    transform: scale(1);
  }
  10.71429% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
